* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(77, 88, 88);
    padding: 1%;
    color: white;
}

.nav-links {
   display: flex;
   list-style: none;
   gap: 1em;
   margin: 2%;
   
}

.btn {
    background-color: rgb(206, 230, 252);
    border: 3px solid black;
    padding: .3em;
    box-shadow: 10px 5px 5px black; 
}

a {
    color: white;
    text-decoration: none;
}